# Hidden cache folders
__pycache__/
.ipynb_checkpoints/
.vscode/

# Data Folders
all/
data/
example/
other files/
sample/
test/
train/

# Model Folders
unet.h5
unet.json
unet_standard.json
unet_standard.h5

# Misc. Folders
checkpoint/
